.app {
  font-family: "Courier New", Courier, monospace;
  height: 100vh;

  &.dark-mode {
    background: black;
  }
}

.app-header {
  position: absolute;
  box-sizing: border-box;
  top: 20px;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;

  div,
  h1,
  small,
  a {
    text-align: center;
    /* color: black; */
    user-select: none;
    z-index: 1;
    pointer-events: none;
  }

  .demo-list {
    position: absolute;
    top: 15px;
    left: 20px;
    display: flex;
    gap: 15px;
    font-size: 16px;

    a {
      text-decoration: none;
      cursor: pointer;
      pointer-events: all;

      &.active {
        font-weight: 800;
        pointer-events: none;
      }
    }
  }

  @media (max-width: 480px) {
    .demo-list {
      position: absolute;
      top: 5px;
      left: 20px;
      display: flex;
      gap: 15px;
      font-size: 16px;
      padding: 6px;
      background-color: black;
      opacity: 0.4;
      border-radius: 10px;

      a {
        text-decoration: none;
        cursor: pointer;
        pointer-events: all;

        &.active {
          font-weight: 800;
          pointer-events: none;
        }
      }
    }
  }

  .github {
    position: absolute;
    width: 64px;
    height: auto;
    top: 5px;
    right: 25px;
    font-size: 16px;
    pointer-events: all;
  }

  @media (max-width: 480px) {
    .github {
      position: absolute;
      width: 64px;
      height: auto;
      top: 5px;
      right: 25px;
      font-size: 16px;
      pointer-events: all;
    }
  }

  @media (max-width: 480px) {
    h1 {
      font-family: 'Cabal';
      font-size: 48px;
      color: #FFFFFF;
      font-weight: bolder;
      margin-top: 18px;
      margin-bottom: 12px;

      a {
        text-decoration: none;
      }
    }
  }

  h1 {
    font-family: 'Cabal';
    font-weight: bolder;
    font-size: 72px;
    color: #FFFFFF;
    margin-top: 18px;
    margin-bottom: 18px;

    a {
      text-decoration: none;
    }
  }

  small {
    line-height: normal;
  }

  @media (max-width: 480px) {
    padding: 33px;

    h1 {
      font-size: 48px;
      line-height: normal;
      color: #FFFFFF;
      font-weight: bold;
      padding-top: 25px;
    }
  }

  @media (max-height: 480px) {
    padding: 10px;

    small {
      display: none;
    }

    h1 {
      font-size: 48px;
      margin-top: 25px;
    }
  }
}

.fa {
  /* padding-right: 5px; */
  font-size: 35px;
  width: 35px;
  text-align: center;
  text-decoration: none;
  opacity: 0.6;
}

@media (max-width: 480px) {
  .fa {
    /* padding-right: 5px; */
    font-size: 25px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    opacity: 0.6;
  }
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.8;
}

.divz {

  /* override styling of divz and divz-item children to suit */
  &.demo1 {
    color: rgba(250, 250, 250, 0.8);

    .divz-item>* {
      font-size: 50px;
    }
  }

  /* customised divz-item stylings & sizings for demo4 */
  &.demo4 {
    figure {
      aspect-ratio: 1 / 1;
    }

    .divz-item>* {
      border-radius: 10px;
      width: auto;
      align-items: flex-end;
      justify-content: end;

      img {
        height: 100%;
        width: auto;
      }

      @media (orientation: portrait) {
        transform: translate(-50%, -50%) scale(0.35);
      }
    }

    .divz-item.selected {
      figcaption {
        display: flex;
        animation: fade-in-full 0.5s 0.5s forwards;

        @media (max-height: 480px) {
          margin: 5px;
          transform: translate(25%, 20%) scale(0.5);
        }
      }
    }

    .divz-item.expanded {
      >* {
        transform: translate(-50%, -50%) scale(0.8);

        figcaption {
          transform: translate(25%, 25%) scale(0.55);
        }

        @media (orientation: portrait) {
          transform: translate(-50%, -50%) scale(0.85);

          figcaption {
            transform: translate(50%, 25%) scale(0.5);
          }
        }
      }
    }
  }

  /* figcaption used in demo 4 for text label overlays */
  figcaption {
    display: none;
    opacity: 0;
    position: absolute;
    padding: 10px;
    margin: 10px;
    /* background-color: rgba(200, 200, 200, 0.15);
    color: white;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 5px; */
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    gap: 10px;
    transition: transform 0.3s, opacity 0.3s;

    div {
      user-select: none;
      pointer-events: none;
    }

    div:first-child {
      font-size: 50px;
      line-height: 1;
      font-family: monospace;

      @media (max-height: 480px) {
        font-size: 30px;
      }
    }

    div:last-child {
      font-size: 12px;

      @media (max-height: 480px) {
        font-size: 10px;
      }
    }
  }
}

.background {
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
  opacity: 0;
}

img.background {
  animation: fade-in-full 0.5s 0.2s forwards;
}

video.background {
  animation: fade-in 2s 0.2s forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.5;
  }
}

@keyframes fade-in-full {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@font-face {
  font-family: 'Aquila';
  src: URL('/fonts/Aquila.ttf') format('truetype');
}

@font-face {
  font-family: 'Cabal';
  src: URL('/fonts/Cabal.ttf') format('truetype');
}

@font-face {
  font-family: 'Confessions';
  src: URL('/fonts/Confessions.ttf') format('truetype');
}

@font-face {
  font-family: 'Maria-Christmas';
  src: URL('/fonts/Maria-Christmas.ttf') format('truetype');
}

@font-face {
  font-family: 'To The Point';
  src: URL('/fonts/To The Point.ttf') format('truetype');
}

.line-1 {
  position: fixed;
  font-weight: bold;
  color: #ffffff;
  /* height: 50%; */
  font-family: 'Cabal';
  font-weight: bold;
  top: 170px;
  width: 15em;
  z-index: 1;
  margin: 0 auto;
  /* border-right: 2px solid rgba(255, 255, 255, .75); */
  font-size: 150%;
  text-align: center;
  white-space: nowrap;
  word-wrap: break-word;
  overflow: hidden;
  transform: translateY(0);
}

@media (min-width: 1280px) {
  .line-1 {
    position: fixed;
    color: #ffffff;
    font-weight: bold;
    /* height: 50%; */
    font-family: 'Cabal';
    font-weight: bold;
    top: 15%;
    width: 300px;
    z-index: 1;
    margin: 0 auto;
    /* border-right: 2px solid rgba(255, 255, 255, .75); */
    font-size: 250%;
    text-align: center;
    white-space: nowrap;
    word-wrap: break-word;
    overflow: hidden;
    transform: translateY(0);
  }
}

/* Animation */
.anim-typewriter {
  animation: typewriter 4s steps(44) 1s 1 normal both
    /* blinkTextCursor 500ms steps(44) infinite normal; */
}

@keyframes typewriter {
  from {
    width: 0;
  }

  to {
    width: 40em;
  }
}

.spiel {
  position: fixed;
  width: 300px;
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
  /* height: 50%; */
}

@media (min-width: 1280px) {
  .spiel {
    position: relative;
    /* width: 100%; */
    height: 50%;
  }
}

/* @keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, .75);
  }

  to {
    border-right-color: transparent;
  }
} */

/* .menubar-wrapper {
  position: absolute;
  z-index: 0;
}

.menubar {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  display: flex;
  gap: 20px;
  align-items: left;
  justify-content: flex-start;
}

.toggle-button {
  position: absolute;
  top: 10px;
  left: 15px;
  padding: 8px 12px;
  font-size: 32px;
  cursor: pointer;
  z-index: 1;
  background-color: #444;
  color: white;
  border: none;
  border-radius: 4px;
} */

/* Ensures the button is always on top and top-left */
.toggle-button {
  position: fixed;
  opacity: 0.5;
  top: 10px;
  left: 10px;
  padding: 5px 10px;
  font-size: 24px;
  cursor: pointer;
  z-index: 1000;
  background-color: #444;
  color: white;
  border: none;
  border-radius: 4px;
  pointer-events: auto;
  /* ensure it accepts clicks */
  width: auto;
  height: auto;
}

/* Optional: sticky horizontal menu */
.menubar {
  border-radius: 8px;
  position: fixed;
  top: 10px;
  left: 60px;
  width: 100px;
  background-color: #333;
  opacity: 0.5;
  color: white;
  padding: 10px 10px;
  display: flex;
  gap: 15px;
  align-items: center;
  z-index: 1;
}

@media (min-width: 1280px) {

  /* Ensures the button is always on top and top-left */
  .toggle-button {
    position: fixed;
    opacity: 0.5;
    top: 10px;
    left: 10px;
    padding: 4px 8px;
    font-size: 32px;
    cursor: pointer;
    z-index: 1000;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 4px;
    pointer-events: auto;
    /* ensure it accepts clicks */
    width: auto;
    height: auto;
  }
}

@media (min-width: 1280px) {

  /* Optional: sticky horizontal menu */
  .menubar {
    border-radius: 8px;
    position: fixed;
    top: 10px;
    left: 70px;
    width: 130px;
    background-color: #333;
    opacity: 0.5;
    color: white;
    padding: 10px 8px;
    display: flex;
    gap: 15px;
    align-items: center;
    z-index: 1;
  }
}

@media (min-width: 1280px) {
  .menubar a {
    color: white;
    text-decoration: none;
    font-size: 32px;
    cursor: pointer;
    pointer-events: auto;
  }
}

.menubar a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  cursor: pointer;
  pointer-events: auto;
}


@media (max-width: 480px) {

  /* TextFader.css */
  .text-fader-container {
    max-width: 450px;
    padding: 0.rem;
    margin: 0 auto;
    text-align: left;
    font-family: "Cabal";
    font-weight: bold;
    height: 12em;
    /* reserve space for line transitions */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
  }

  .text-fader-line {
    /* background-color: rgba(255, 255, 255, 0.4); */
    /* semi-transparent black */
    padding: 0.6rem 0.6rem;
    backdrop-filter: invert(30%);
    border-radius: 16px;
    font-family: "Cabal";
    font-size: 1.2rem;
    color: #FFFFFF;
    font-weight: bold;
    line-height: 1.2;
    word-wrap: break-word;
    white-space: normal;
    display: inline-block;
    max-width: 100%;
  }
}

@media (min-width: 1280px) {

  /* TextFader.css */
  .text-fader-container {
    max-width: 550px;
    padding: 1rem;
    margin: 0 auto;
    text-align: left;
    font-family: "Cabal";
    font-weight: bold;
    height: 12em;
    /* reserve space for line transitions */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
  }

  .text-fader-line {
    /* background-color: rgba(255, 255, 255, 0.4); */
    /* semi-transparent black */
    padding: 0.75rem 1.25rem;
    /* backdrop-filter: invert(30%);
    border-radius: 16px; */
    font-family: "Cabal";
    font-size: 1.5rem;
    color: #FFFFFF;
    font-weight: bold;
    line-height: 1.2;
    word-wrap: break-word;
    white-space: normal;
    display: inline-block;
    max-width: 100%;
  }
}